body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

* img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

html {
  font-size: 20px;
}

.closeTabBtn{
  display: none;
}

.dynamic__content {
  transition: all .5s ease-in-out;
}

.form-input {
  width:100%;
	border-radius:13px;
	border:none;
	outline:none;
	font-family:Inter;
	font-size:0.8rem;
	margin-bottom:1.9rem;
  width:100%;
  padding: 10px;
}

/*---calendar----*/

/*---calendar---*/



@media(max-width:770px){
  html{
    font-size: 16px;
  }
  .layout__content{
    width: 100vw;
  }
  .sidebar__wrapper{
    width: 0vw;
    min-width:0vw;
  }

  .closeTabBtn{
    display: block;
  }

  .dashboard__header{
    width:100vw;
  }
  .content{
    width: 100vw;
  }

  .sidebar.active{
    transform:translateX(0);
    transform:translateX(-150%);
    -webkit-transform:translateX(-150%);
    -moz-transform:translateX(-150%);
    -ms-transform:translateX(-150%);
    -o-transform:translateX(-150%);
}

  .burgermenu {
    display: block;
  }
}


